h1 {
  color: white;
  font-style: normal;
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
}

.canvas_wrapper {
  border: 1px solid red;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  position: relative;
}

canvas {
  border: 2px solid gold;
  background-color: black;
  margin: 0 auto;
  position: relative;
}

.rating-wrapper {
  color: white;
  width: 400px;
  position: absolute;
  font-size: xx-large;
  cursor: default;
}

.modal-wrapper {
  margin: 0 auto;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.modal_input {
  margin-top: 150px;
  color: black;
  height: 50px;
  width: 200px;
  font-size: xx-large;
}

.btn-confirm {
  position: relative;
  height: 40px;
  width: 208px;
  font-size: xx-large;
  background-color: black;
  color: red;
  cursor: pointer;
}

li {
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.btn-confirm:hover {
  color: yellow;
}

li:hover {
  color: yellow;
  font-size: 120%;
}
